{% extends 'base.html' %}
{% load static %}
{% load user_filters %}
{% block title %}
  ЗАКАЗ  
{% endblock %} 
{% block content %}
<div class="container py-5">   
  <h3 class="text-center">Оформить заказ</h3> 
    <div class="row">      
      <div class="col-lg-6 p-5" style="margin-bottom:auto"> 
        <div class="card">
          <div class="card-header">
            Данные заказчика
          </div>
          <div class="card-body">         
            {% if form.errors %}
              {% for field in form %}
                {% for error in field.errors %}            
                  <div class="alert alert-danger">
                    {{ error|escape }}
                  </div>
                {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                  {{ error|escape }}
                </div>
              {% endfor %}
             {% endif %}  
              <form method="post" action="{% url 'orders:order_create' %}">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group row my-3 p-3">
                  <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                    {% if field.field.required %}
                      <span class="required text-danger">*</span>
                    {% endif %}
                  </label>    
                  {{ field|addclass:'form-control' }} 
                  {% if field.help_text %}
                    <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                      {{ field.help_text|safe }}
                    </small>
                  {% endif %}
                </div>
                {% endfor %}
                <div class="col-md-6 offset-md-4">
                  <button type="submit" class="btn btn-primary">
                    Заказать
                  </button>
                </div>
              </form>
           </div> <!-- card body -->
        </div> <!-- card -->
      </div>
      <div class="col-lg-6"> 
        <h3 class="text-center">Ваш заказ</h3> 
        <table class="table table-light table-bordered">
          <thead>
            <tr class="table-success">
              <th>Товар</th>                               
              <th>Цена за ед.(м.п./шт.)</th>
              <th>Количество</th>
              <th>Вес</th>
              <th>Сумма</th>                                             
            </tr>
          </thead>
          <tbody>
            {% for product in products_in_cart %}
              <tr class="product-data-cart">
                <td class="text-center block-3">                
                  {{ product.product.subcategory.name }}
                  {% if product.product.thickness %}
                      <p><small> {{ product.product.thickness }}</small></p> 
                  {% else %}
                      <p><small>{{ product.product.length }}</small></p>   
                  {% endif %}                    
                </td>
                <td>{{ product.price_item|floatformat:1 }}</td>              
                <td>{{ product.nmb }}</td>       
                <td>{{ product.weight_nmb|floatformat:0 }}</td>
                <td>{{ product.total_price }}</td>                               
              </tr>
            {% endfor %} 
          </tbody>
        </table>
        <div class="text-end">
          <b>Общий вес товаров </b>
          <br>
          <span id="total_order_weight">{{total_weight}} кг.</span>
        </div> 
        <p></p>          
        <div class="text-end">
          <b>Сумма заказа</b>
          <br>
          <span id="total_cart_price">{{total_price}} руб.</span>
        </div> 
      </div>
    </div> 
  </div>         
{% endblock %} 
        


        