{% extends "base.html" %}
{% load static %}
{% block title %}
    Заказ
{% endblock %}
{% block content %}
  <div class="container" style="padding-top: 10rem">
    <div class="row">
      <div class="col-lg-4"> 
       Номер заказа {{ order.id }}
      </div>    
      <div class="col-lg-8">           
       <h3 class="text-center">Товары в заказе</h3>          
          <table class="table table-striped table_boarded table-hover">
            <thead>
              <tr>
                <th>Товар</th>                               
                <th>Цена за ед.(м.п./шт.)</th>
                <th>Количество</th>
                <th>Вес</th>
                <th>Сумма</th>                                              
              </tr>
            </thead>
            <tbody>
                {% for product in products_in_order %}
                  <tr class="product-data-cart">
                    <td class="text-center block-3" style="color:blue">                
                      {{ product.product.subcategory.name }}
                      {% if product.product.thickness %}
                         <p><small> {{ product.product.thickness }}</small></p> 
                      {% else %}
                         <p><small>{{ product.product.length }}</small></p>   
                      {% endif %}                    
                    </td>
                    <td>{{ product.price_item|floatformat:1 }}</td>              
                    <td>
                        {{ product.nmb|floatformat:1 }}
                    </td>       
                    <td>{{ product.weight_nmb|floatformat:0 }}</td>
                    <td>{{ product.total_price }}</td>                                  
                  </tr>
                {% endfor %} 
            </tbody>
          </table>  
          
          <div class="text-end">
            <b>Сумма заказа</b>
            <br>
            <span id="total_cart_price">{{order.total_price}} руб.</span>
          </div> 
          <hr>        
        
      </div>
    </div>
  </div>  
{% endblock %}  