
html,
body {
    height: 100%;
    font-size: 1rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px; 
  margin-top:3rem;
  background-color: #ffffff;
  }
  

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.content {
	flex: 1 0 auto;
}


.reducing { 
  height: 10%;
  width: auto;
}

.gradient {
  background: rgb(0, 97, 242);
  background: linear-gradient(
    135deg,
    rgba(0, 97, 242, 1) 0%,
    rgba(105, 0, 199, 1) 100%
  );
}

.header{ 
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 50%;
  padding-top: 5rem;
 }


.table { 
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-car {
  margin-right: 2rem;
}

.navbar-shop {
  background: #4ec67f;  
}  

.subcategory-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;  
}

.subcategory-list {
  max-height: 400px;
  overflow-y: scroll;
  border:1px solid black; 
  background-color: #ffffff;
}

form#subcategory-search-input {
  width: 100%;
}