
html,
body {
    height: 100%;
    font-size: 1rem;
}

.reducing { 
  height: 10%;
  width: auto;
}

.gradient {
  background: rgb(0, 97, 242);
  background: linear-gradient(
    135deg,
    rgba(0, 97, 242, 1) 0%,
    rgba(105, 0, 199, 1) 100%
  );
}

.header{
  background-image: url('../img/Steel.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 70%;
  padding-top: 5rem;
 }


.table { 
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-car {
  margin-right: 2rem;
}

.navbar-shop {
  background: #4ec67f;
}  

