{% extends 'base.html' %}
{% load static %}
{% block title %}
  Конструктор стали 
{% endblock %}
{% block content %}
<div class="subcategory-list-container">
  <form id="subcategory-search-form">
      <input type="text" id="subcategory-search-input" placeholder="Найти категорию">
  </form>
    <h3 class="text-success">Категории товаров</h3>
  <div class="subcategory-list">
    <ul class="list-group">
      {% for subcategory in subcategories %}
        <li class="list-group-item">
          <a href="{% url 'products:products_list' subcategory.slug %}">{{subcategory.name}}</a>
        </li>     
      {% endfor %}  
    </ul>           
    </div>  
</div>  
{% endblock %}