{% extends 'base.html' %}
{% load static %}
{% block title %}
  ТОВАРЫ  
{% endblock %} 
{% block content %}
  <div class="container py-5">
    <div class="row">
      <div class="col-md-3">                
        <ul class="list-group">                     
          {% for subcategory in subcategories_list %}          
          <a href="{% url 'products:subcategory_products' subcategory.slug %}" class="list-group-item list-group-item-action active">
            {{ subcategory.name }}
          </a>
              
          {% endfor %}
      </ul>  
      </div>
      <div class="col-sm-12 col-md-9">
        <h1>{{ product.subcategory.name }}</h1>
        <table class="table table-striped table_boarded table-hover">
          <thead>
            <tr>
                <th>Товар</th>
                <th>Длина</th>
                <th>Цена за тонну</th>
                <th>Цена за метр</th>
                <th>Метраж</th>
                <th>Вес</th>
                <th>Купить</th>                                
            </tr>
            </thead>
            <tbody>
            {% for product in products_list %}
            <tr>
              <td class="text-center block-3">
                <a href="{% url 'products:product_detail' product.id %}">
                {{ product.subcategory.name }}
                <small class="length-info">{{product.size}}</small>
                </a>
              </td>
              <td>{{ product.length }}</td>
              <td>{{ product.price_tonn }}</td>
              <td>{{ product.price_item|floatformat:0 }}</td>
              <form id="form_buying_product">              
               <td><input type="number" min="0" step ="1" class="form-control" id="quantity" aria-label="quantity"></td>  
               <td><input type="number" min="0"  class="form-control" id="weigth" aria-label="weigth"></td>
               <td><a href="{% url 'orders:cart_add' product.id %}">
                   <button class="btn btn-success btn-buy" type="submit" id="submit_btn"
                           data-product_id = "{{product.id}}"
                           data-name = "{{product.subcategory.name}}"
                           data-price = "{{product.price_item}}"
                   >В машину</button>
                   </a>
               </td>  
              </form>      
            </tr>
           {% endfor %}            
            </tbody>
        </table>  
      </div>        
    </div>            
  </div>    
{% endblock %}