{% extends 'base.html' %}
{% load static %}
{% block title %}
  ТОВАРЫ  
{% endblock %} 
{% block content %}
  <div class="container py-5">     
        {% for product in object_list %}
        <h2>Категория товара{{ product.subcategory.name }}</h2>        
        <h3>Цена за метр{{ product.price_item }} <a href="{% url 'products:product_detail' product_id=product.id %}">Товар</a></h3>
        <h3>Цена за тонну{{ product.price_tonn }}</h3>
        {% endfor %}        
    </div>    
{% endblock %}

    {% comment %} {% for post in page_obj %}
      <article>
        <ul>
          <li>
            Автор: {{ post.author.get_full_name }}
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>      
        <p>
          {{ post.text }}
        </p>
          {% if post.group %}
            <a href="{% url 'posts:group_posts' post.group.slug %}">все записи раздела</a>
          {% endif %}  
      </article>
        {% if not forloop.last %}
          <hr>
        {% endif %}
    {% endfor %}   
    {% include 'posts/includes/paginator.html' %}   {% endcomment %}
  