{% load static %} 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark">
  <div class="container-fluid">    
    <a class="navbar-brand" href="{% url 'products:index' %}">
      <h4><span style="color:red">Конструктор</span>Стали</h4>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'users:signup' %}">Регистрация<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:login' %}">Войти</a>
        </li>
      </ul> 
    </div>
  </div>
</nav> 

<nav class="navbar navbar-expand-lg btn-car pull-right">
  <div class="nav-item navbar-right">    
    <button class="btn btn-success btn-buy" type="button" id="button-buy">
    <a class="nav-link"  href="{% url 'orders:cart_order' %}">
      Машина      
      <span class="badge bg-primary rounded-pill" id="products_total_nmb">
        {% if products_total_nmb %}
          {{ products_total_nmb }}
        {% else %}
          0       
        {% endif %}
      </span> 
    </a>          
    </button>      
  </div>             
</nav>    

