{% extends "base.html" %}
{% load static %}
{% block title %}
    Корзина
{% endblock %}
{% block content %}
    <h1>Ваша корзина</h1>
    <table class="cart">
        <thead>
        <tr>
            <th>Товар</th>
            <th>Количество</th>
            <th>Цена за ед/т</th>
            <th>Цена</th>
            <th>Удалить</th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>{{ product.subcategory.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.unit }}</td>
                    {% if item.unit == "t" %}
                       <td class="num">${{ item.price_tonn }}</td>
                       <td class="num">${{ item.total_price }}</td>                      
                    {% endif %}
                    {% if item.unit == "m" %}
                       <td class="num">${{ item.price_item }}</td>
                       <td class="num">${{ item.total_price }}</td>                      
                    {% endif %}
                    <td><a href="{% url "orders:cart_remove" product.id %}">Удалить</a></td>
                </tr>
            {% endwith %}
        {% endfor %}
        <tr class="total">
            <td>ИТОГО</td>
            <td colspan="4"></td>
            <td class="num">${{ cart.get_total_price }}</td>
        </tr>
        </tbody>
    </table>
    
{% endblock %}